@{
  
}
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br>

<a href="https://baconsale.com/">Baconsale</a>
<br>

<a href="https://baconsale.com/">
    <img src="~/img/baconsalephoto.jpeg" height ="400px"/>

<p></p>
